.container {
  @apply flex flex-col gap-4
    mx-auto
    px-10 md:px-0
    mt-10 md:mt-20 mb-20;
}

.heading {
  @apply text-4xl font-bold
    text-center;
}

.categories {
  @apply flex flex-wrap justify-center
    gap-2 md:gap-4
    mt-4;
}

.categoryButton {
  @apply px-6 py-3
    rounded-full
    text-base
    border border-gray-200 dark:border-gray-700
    hover:bg-gray-800 dark:hover:bg-gray-700
    hover:text-white
    hover:border-gray-800 dark:hover:border-gray-700
    transition-all duration-200;
}

.active {
  @apply bg-gray-800 dark:bg-gray-700
    border-gray-800 dark:border-gray-700
    text-white;
}
